//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 26 23:13:03 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SF_D<8>" LOCATE = SITE "R15" LEVEL 1;
COMP "SF_D<9>" LOCATE = SITE "R16" LEVEL 1;
COMP "SF_D<10>" LOCATE = SITE "P17" LEVEL 1;
COMP "SF_D<11>" LOCATE = SITE "M15" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "C9" LEVEL 1;
NET "CLK_50MHZ_BUFGP/IBUFG" BEL "CLK_50MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "CLK_50MHZ_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

